@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    font-family: "Montserrat",
    sans-serif;
    background:linear-gradient(rgba(0 , 0, 0, 0.5),rgba(0 , 0, 0, 0.5)), url(../img/Aussicht\ Meer\ -\ Mann.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
/* The sidepanel menu */
.sidepanel {
  height: 350px; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: #111; 
  overflow-x: hidden; 
  padding-top: 50px; 
  transition: 0.5s;
  box-shadow: 3px 3px 14px#0367fd;
  border-bottom-right-radius: 24px;
}

.sidepanel a, .dropdown-btn {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.dropdown-btn {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
.sidepanel a:hover, .dropdown-btn:hover {
  color: white;
}

.active {
  background-color: #ffc400ef;
  color: white;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.dropdown-container {
  display: none;
  background-color: #111;
  padding-left: 8px;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.openbtn {
  font-size: 30px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  padding: 10px 15px;
  border: none;
}

#Start-html {
  font-size: 25;
  color: white;
}

  /*Willkommen*/
  #willkommen-container{
    text-align:center;
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
    font-size: xx-large;
}
 
.willkommen{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

